~*
.DS_Store
*.swp
.idea/
*.csv
*.pyc
*.png
*.pkl
*.npy
*.webm
*.gif
*.jpeg
*.txt
*.db
*.nc
*.hdf
*.bin
*.h5
*.zip
*.xlsx
*.job
*.tar
*.lock
*.tar.gz
*.nc
*.shp
*.cpg
*.dbf
*.shx
*.pdf
*.h5
*.mp4
*.ini

.coverage
.cache

.ipynb_checkpoints/

dist/*
build/*
*.egg-info
MANIFEST
.eggs/

docs/build/
docs/source/examples
examples/scripts