~*
.DS_Store
*.swp
.idea/
*.csv
*.pyc
*.png
*.pkl
*.npz
*.npy
*.webm
*.gif
*.prj
*.sbx
*.sbn
*.xml
*.tif
*.jpeg
*.txt
*.db
*.nc
*.hdf
*.bin
*.h5
*.npz
*.zip
*.xlsx
*.job
*.tar
*.lock
*.xml
*.sbn
*.tif
*.sbx
*.tar.gz
*.nc
*.shp
*.cpg
*.dbf
*.shx
*.pdf
*.h5
*.mp4
*.ini

.coverage
.cache

.ipynb_checkpoints/

dist/*
build/*
*.egg-info
MANIFEST
.eggs/

docs/build/
docs/source/examples
examples/scripts